<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHubPackages" value="https://nuget.pkg.github.com/Fexty12573/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHubPackages>
      <add key="Username" value="Fexty12573" />
      <add key="ClearTextPassword" value="%VCPKG_PAT_TOKEN%" />
    </GitHubPackages>
  </packageSourceCredentials>
</configuration>
